@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Yaro";
    src: url("/fonts//YaroCut-Thin.woff2") format("woff2");
    font-style: normal;
  }
}
