@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: "PoppinLight";
}
@layer base {
  @font-face {
    font-family: "Yaro";
    src: url("/fonts//YaroCut-Thin.woff2") format("woff2");
    font-style: normal;
  }
  @font-face {
    font-family: PoppinBold;
    src: url("/fonts//Poppins-Bold.otf");
  }
  @font-face {
    font-family: PoppinLight;
    src: url("/fonts//Poppins-Light.otf");
  }
  @font-face {
    font-family: PoppinRegular;
    src: url("/fonts//Poppins-Regular.otf");
  }
}
